.item-box  .product-title {

  text-align: center;
}

.details {
  text-align: center;
}
.product-essential .overview .short-description {
  display: none;
}

.item-box .product-title {
  height: 50px;
  margin: -17px 0 5px;
}

.item-box .actual-price:only-child {
  color: #ed479d;
  font-size: 18px;
}
span.price.old-price {
  color: #ed479d;
}
.overview .prices>div:first-child {
  color: #ed479d;
}


.header-menu .product-page-size {
  padding-left: 20px;
}
.product-selectors .product-viewmode {
  position: relative;
}
.product-selectors {

  background: #ffffff;
}
.block.block-category-navigation {
  margin: 0 40px;
}

.block .listbox .list li a {
  padding-left: 40px;
}

.block .list .sublist a:before {

  left: 34px;

}
.block.block-category-navigation .mobile-title {
  display: none;
}


.nop-jcarousel .slick-dots button {
  position: relative;
  width: 25px;
  height: 25px;
  font-size: 0;
  border: none;
  background: none;
  background-image: url('../../../../../themes/uptown/content/img/heart2.png');
  background-size: cover;
  box-sizing: border-box;
}
.nop-jcarousel .slick-dots li{
  margin: 5px;
}
.nop-jcarousel .slick-dots button:hover:before,
.nop-jcarousel .slick-dots .slick-active button:before {
  width: 25px;
  height: 25px;
  font-size: 0;
  border: none;
  background: none;
  background-image: url('../../../../../themes/uptown/content/img/heart3.png');
  background-size: cover;
  box-sizing: border-box;
}


/*Скрываем блок с саб-категориями в товарах
.sub-category-grid {
    display: none;
}
*/
/*убираем марджин карусели (вместо стрелок)*/
.nop-jcarousel .carousel-title {
  margin: 30px 0 0;
}

/*убираем заголовки страниц*/
.page-title {
  display: none;
}
/*убираем отступы на всех страницах*/
.master-column-wrapper {
  padding: 0 0 0;
}
/*Сдвигаем кнопку продолжить покупки*/
.cart-options .button-2.continue-shopping-button {
  float: left;
}


.shipping-info {
  float: none !important;
  margin: 0 auto !important;
}

/*Активируем превьюшки меню*/

.mega-menu .categories .picture{display:block}


.mega-menu .title {
  text-align: center;
}


.phone-1 {
  margin-bottom: -25px !important;
}
.phone-2 {
  margin-bottom: -18px !important;
}

.streetaddress{
  margin-bottom: -50px !important;
  display:block;
}

/*Убиваем иконки оплаты в футере*/
.accepted-payment-methods {
  display: none  !important;
}

/*Цвет форм*/
.checkout-page .edit-address {
  background: #f699cd;
  opacity: 0.8;
}

.message-error, .field-validation-error, .username-not-available-status, .poll-vote-error, .password-error {
  color: red;
}

.topic-page .page-body {
  background: #f8f8f8;
  padding: 15px;
  border-top: 1px solid #f1f1f1;
  text-align: justify;
  color: #909090;
  font: 10px/15px 'Droid Serif',serif;
  /* font-style: italic; */
  margin: 0 0 30px;
}


/*Медиа*/
@media only screen and (max-width: 768px) {



  .responsive-nav-wrapper .personal-button {

    display: none;
  }

  .block.block-category-navigation .mobile-title {
    display: block;
  }

  .block.block-category-navigation .pc-title {
    display: none;
  }

  .item-box {
    position: relative;
    width: 42%;
    float: left;
    margin: 0 10px 32px;
    min-height: 250px;
    max-height: 600px;
  }

  .item-box .actual-price:only-child {
    color: #4d4d4d;
    margin: 0;
    font-size: 10px;
  }

  .item-box .product-title a {
    display: block;
    font-size: 12px;
    color: #909090;
    font-weight: normal;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  .product-grid .item-box, .product-list .item-box {
    position: relative;
    width: 44%;
    float: left;
    margin: 0 8px 32px;
  }

  .breadcrumb {
    margin: 0 0 5px;
  }

  .order-progress a {
    font-size: 9px;
  }

  .cart-options .button-2.continue-shopping-button {
    float: none;
  }

  .shipping-method .method-list li {
    font-size: 11px;
  }

  h2 {
    display: block;
    font-size: 1em;
  }

  h1 {
    font-size: 1.5em;
  }

  .slick-dots button {
    margin: 5px 10px;
  }

  .order-progress a {
    font-size: 7px;
  }

  .new-comment .button-1 {
    font-size: 8px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

  .item-box .actual-price:only-child {
    color: #4d4d4d;
    margin: 0;
    font-size: 10px;
  }

  .item-box .product-title a {
    display: block;
    font-size: 12px;
    color: #909090;
    font-weight: normal;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  .product-grid .item-box, .product-list .item-box {
    position: relative;
    width: 45%;
    float: left;
    margin: 0 6px 32px;
  }

  .product-details-page-body.with-picture-thumbs .gallery .picture-thumbs a {
    width: 70px;
  }

  .picture-thumbs-navigation-arrow {
    top: 35%;
  }

  h2 {
    display: block;
    font-size: 1em;
  }

  h1 {
    font-size: 1.5em;
  }

  .slick-dots button {
    margin: 5px 10px;
  }

  .nop-jcarousel {
    position: relative;
    margin: 0 0 10px;
  }

  .product-grid .title {
    margin: 0;
  }

  .order-progress a {
    font-size: 7px;
  }

  .new-comment .button-1 {
    font-size: 5px;
  }
}




@media (max-width: 768px) {
  .product-page-size {
    padding-right: 45px;
  }
  .product-sorting {
    float: right;
  }

}

@media only screen and (max-width: 768px) {

  .prices span.price.actual-price {
    color: #ed479d;
    font-size: 14px;
  }
  .product-grid.home-page-product-grid .title h2 {
    display: none;
  }
  .item-box {
    margin: 0 5px 10px;
  }
  .home-page .topic-block {
    margin: 0 auto -68px;
  }
  .product-grid .title {
    margin: 0 0 0;
  }
  .topic-block-title {
    padding: 5px;

  }
  .prices-stock-wrapper {
    position: relative;
    border-bottom: 1px solid #f1f1f1;
    margin: 0 0 0;
    padding: 0 0 45px;
  }

  .attributes {
    margin: 0 0 0;
    padding: 0 0 0;
    border-bottom: 1px solid #f1f1f1;
  }
  .overview .product-name h1 {
    font-size: 18px;
  }
  .attributes dd select:only-of-type {
    width: 135px;
    float: right;

  }
  .attributes dt {
    float: left;
    margin-top: 10px;
  }
  .gallery {
    margin: 0 auto 20px;

  }
  .add-to-cart-buttons-wrapper {
    padding: 0 0 0;
    margin: 0 0 0;

  }

  .add-to-cart-qty-wrapper {
    margin: 15px auto;
    float: left;
  }

  .button-1.add-to-cart-button {
    margin-left: 23px;
    margin-top: 10px;
  }
  .product-name h1 {
    font-size: 14px;
    padding-bottom: 15px;
  }

}


@media only screen and (max-width: 320px) {

  .button-1.add-to-cart-button {
    margin-left: 10px;
    margin-top: 10px!important;
  }
}
